@page "/"
@using ControlsExample.Forms

<h1>Hello, world!</h1>

Welcome to your new app.



<EditForm OnValidSubmit="DoSave" Model="form">
<MarkdownEditorBS5 id="markdown-editor" @bind-Value="form.Comment"/>
</EditForm>

@code {
    CommentForm form = new CommentForm();

    private void DoSave()
    {

    }
}
